@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1h2an6');
  src:  url('fonts/icomoon.eot?1h2an6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1h2an6') format('truetype'),
    url('fonts/icomoon.woff?1h2an6') format('woff'),
    url('fonts/icomoon.svg?1h2an6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-current-item:before {
  content: "\e049";
}
.icon-zoom-out:before {
  content: "\24";
}
.icon-zoom-in:before {
  content: "\25";
}
.icon-next:before {
  content: "\e00b";
}
.icon-prev:before {
  content: "\e00f";
}
.icon-reset-zoom:before {
  content: "\e051";
}
